@import '../../styles/abstracts/variables'; 

.menu {
   font-size: 17px;
   font-weight: 700;
    display: flex;
    ul {
        display: flex;
        justify-content: center;

    li {
    border-radius: 8px;
    background-color: $gray-color;
    width: 84px;
    text-align: center;
    margin: 1vh;
    }

    }

}