@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../base/utilities';
@import '../base/typography';

.add-pourboire-container {
  @include section-width;
  margin-top: 15px;
}

.add-pourboire-button {
  @include rounded-border;
  border: 2px solid $orange;
  margin: 0 10px;
  padding: 5px 20px;
  font-size: 20px;
  font-family: $base-font-family;
  color: $orange;
}

.add-pourboire-button:active {
  background-color: $orange;
  color: $white-color;
  border-color: $white-color;
}
