/* classes utilitaires, des mixins ou des fonctions SASS qui peuvent être réutilisées 
à plusieurs endroits dans le code pour appliquer des styles courants 
ou des fonctionnalités spécifiques.*/


// Classes utilitaires pour le positionnement
.position-relative {
    position: relative;
  }  
  
  .position-absolute {
    position: absolute;
  }
  
  .header-in-scroll{
    position: sticky;
    z-index: 999;
    top: 0;
    background-color: #fff;
  }

  .position-fixed {
    position: fixed;
  }
  
  // Classes utilitaires pour le centrage
  .text-center {
    text-align: center;
  }
  
  .flex-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pourboire-input-container{
    @extend .flex-start;
    margin: 0 auto;
    flex-direction: column;
    width: 90%;

    label {
      font-size: 17px;
      font-weight: 700;
      color: #FF6B40;
    }

    input{
      font-family: Arial, sans-serif;
      background-color: #F4F4F4;
      border-radius: 4px;
      width: 95%;
      height: 50px;
      margin-bottom: 10px;
      padding-left: 10px;
    }

    input::placeholder {
      color: #C9C9C9;
      font-size:  17px;
    }
  }
  
  // Mixin pour la bordure arrondie
  @mixin rounded-border($radius: 25px) {
    border-radius: $radius;
  }
  
  // Fonction pour générer des couleurs légèrement plus claires
  @function lighten-color($color, $amount: 10%) {
    @return lighten($color, $amount);
  }